.button {
    position: relative;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 500px;
    background-color: rgb(31 41 55);
    z-index: 0;
    overflow: hidden;
    white-space: nowrap;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.button::before {
    content: '';    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px;
    border-radius: 3rem;
    background: linear-gradient(270deg, rgb(40, 222, 164), rgb(239, 255, 234), rgb(40, 222, 164));  
    background-size: 400% 400%;
    animation: moverBorde 5s linear infinite;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

@keyframes moverBorde {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
