.title {
    font-weight: bold;
    color: #00bbff;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

@media (min-width: 780px) {
    .div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
}