.main {
    margin-top: 300px;
    margin-bottom: 200px;
}

.container {
    border: 3px solid #00bbff;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    border-left: none;
    border-top: none;
}

.title {
    margin-top: 200px; 
    font-weight: bold;
    font-size: 60px;
    color: skyblue;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    justify-self: center;
}

.imagen {
    animation: fade 2s ease-out;
}

.button1 {
    animation: jump 1.5s ease-in-out;
}

.button2 {
    animation: jump 1.5s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.button3 {
    animation: jump 1.5s ease-in-out forwards;
    animation-delay: 0.4s;
    opacity: 0;
}

@keyframes fade {
    from { 
        transform: translateY(-500px); 
        opacity: 0;
    }

    to { 
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes jump {
    from {
        transform: translateY(80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
