.main {
    margin-top: 300px;
    margin-bottom: 200px;
}

.container {
    border: 3px solid tomato;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    border-left: none;
    border-top: none;
}

.title {
    margin-top: 200px; 
    font-weight: bold;
    font-size: 60px;
    color: tomato;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;
    justify-self: center;

    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0;}
}

@keyframes blink {
    50% { border-color: transparent;}
}
