.container {
    background-color: #090E1B;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1%;
    z-index: 1000;
}

.containerScroll {
    background-color: #090E1B;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1%;
    box-shadow: 5px 1px 5px #343e80;
    z-index: 1000;
}

.item {
    transition: transform 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.1);
}
